<div class="block-flat">
						<div class="header">	
								<div class="pull-right"> 
									<a href="#/place/list"  class="btn btn-default"><i class="fa fa-arrow-left"></i> back</a>
								</div>
											<h3>{{formData.name}} Map Preview</h3>
						</div>		

		<div class="angular-google-map-container">
									<ui-gmap-google-map   center="{latitude: formData.latitude, longitude: formData.longitude}" zoom="map.zoom" refresh="refresh">
									       <ui-gmap-marker fit="true" coords="{latitude: formData.latitude, longitude: formData.longitude}" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker> 
									</ui-gmap-google-map> 
								</div> 
								</div>