<div class="tab-container">
		<h3>{{pageTitle}}</h3>					
<form  ng-submit="save()">
						<ul class="nav nav-tabs">
						  <li class="active"><a data-toggle="tab" data-target="#details">Details</a></li>
						  <li class=""><a data-toggle="tab" data-target="#content">Content</a></li>
						 
						</ul>
						<div class="tab-content nomargin">
						  <div id="details" class="tab-pane cont active">
								

	<div class="row">
	<div class="col-md-7 col-md-offset-2">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-3 control-label">Date</label>
						<div class="col-sm-9">
							    <div class="input-group">
									<input  type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="formData.news_date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="popup1.opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Title</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" ng-model="formData.title" required>
						</div>
					</div>
	

					
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
						</div>
					</div>
					
				</div>	

	</div>
	</div>

								
								
						  </div>
						  <div id="content" class="tab-pane cont">
									<div class="form-group">
										<label class=" control-label">Content</label>
										<textarea ng-model="formData.content" data-ck-editor></textarea>
									</div>
						  </p></div>


						</div>
					</div>
						<div class="block-flat">

					</div>
					</form>
		</div>
</div>
